* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .col-1{
     max-width: 100%;
     align-self: center; 
    }

    .col-4{
      max-width: 100%;
     }
    
    .d-flex{
      width: 90%;
      max-width: 100%;

     }

    .btn{
      background-color: #F4D4DC;
      border: none;
      color: black;
      text-align: center;
    }

    .navbar {
     font-family: cursive;
     background-color: #F4D4DC;   
     width: 90%;
     max-width: 100%;
     }

    .nav-item{
     width: 90%;
     max-width: 100%;
     margin-left: 5%;
     margin-right: 5%;
    }

     a:after{
     content: "";
     position: absolute;
     background-color: #F4D4DC;   
     height: 3px;
     width: 0;
     left: 0;
     bottom: -10px;
     transition: 0.57s;
     }
    
     a:hover{
     color: white;
     }

     a:hover:after{
     width: 100%;
     }

    a{
     position: relative;
     text-decoration: none;
     font-family: cursive;
     color: black;
     font-size: 17px;
     letter-spacing: 0.7px;
    }

    .social {
     font-family: cursive;
     background-color: #F4D4DC;   
     width: 90%;
     max-width: 100%;
     display: flex;
     grid-template-rows:(3, auto);
     justify-content: center;
     align-items: center;
     }

     .footer {
     width: 90%;
     max-width: 100%;
     display: flex;
     flex-direction: column;
     background-color: #F4D4DC; 
     }

    .fondo {
     background-image: url("./assets/picmagn.png");
     background-size: contain;
     width: 90%;
     max-width: 100%;
     }

    .carousel-inner img {
     width: 90%;
     max-width: 100%;
     }
  
    .carousel-inner{
     height: 27%;
    }

     @media screen and (max-width: 412px){

         .fondo{
            display: flex;
            flex-direction: column;
         }
     }