.btn{
    background-color: #F4D4DC;
    border: none;
    color: black;
    text-align: center;
}
a{
    position: relative;
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-size: 17px;
    letter-spacing: 0.7px;
}
.carousel-inner img {
    @include ancho();
    width: 90%;
    max-width: 100%;
}
 
.carousel-inner{
    height: 27%;
}