a:after{
    content: "";
    position: absolute;
    background-color: #F4D4DC;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.57s;
    }
   
    a:hover{
    color: white;
    }

    a:hover:after{
    width: 100%;
}

@media screen and (max-width: 412px){

        .fondo{
           display: flex;
           flex-direction: column;
        }
    }