.navbar {
    font-family: cursive;
    background-color: #F4D4DC;   
    @include ancho();
    
    }

   .nav-item1{
    @include ancho();
    margin-left: 5%;
    margin-right: 5%;
   }

   .nav-item2,
   .nav-item3,
   .nav-item4,
   .nav-item5 {
    @extend .nav-item1;
   }


