.navbar {
    font-family: cursive;
    background-color: #F4D4DC;   
    width: 90%;
    max-width: 100%;
    }

   .nav-item{
    width: 90%;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
   }