.social {
    font-family: cursive;
    background-color: #F4D4DC;   
    @include ancho();
    display: flex;
    grid-template-rows:(3, auto);
    justify-content: center;
    align-items: center;
    }